<div id="edit-task-container">
    <h1>Edit task</h1>
    <form ng-model="task">
        <div>
            <input  type="text" placeholder="Task title" ng-model="task.title" value="{{task.title}}"/>
        </div>
        <div>
            <textarea placeholder="Task description" ng-model="task.content">{{task.content}}</textarea>
        </div>
    </form>
    <div>
        <button type="submit" class="btn btn-info" ng-click="editTask()">Save</button>
        <button class="btn btn-info" ng-click="cancel()">Cancel</button>
    </div>
</div>
