<div id="edit-task-container" ng-show="$root.authenticated">
    <h1>Edit task</h1>
    <form ng-model="task">
        <div>
            <input  type="text" placeholder="Task title" ng-model="task.title" value="{{task.title}}"/>
        </div>
        <div>
            <textarea placeholder="Task description" ng-model="task.content">{{task.content}}</textarea>
        </div>
        <div id="tags" style="display:inline-block; width:100%">
            <span ng-repeat="tag in task.tags" class="tag label label-info" style="display:inline; margin-left: 5px">{{tag.name}}<span><a><i class="remove glyphicon glyphicon-remove-sign glyphicon-white"></i></a></span></span>
            <input style="display:inline; width: inherit" ng-model="tagName" ng-keyup="$event.keyCode === 13 && addNewTag(tagName)" type="text" />
        </div>
    </form>
    <div>
        <button type="submit" class="btn btn-info" ng-click="editTask()">Save</button>
        <button class="btn btn-info" ng-click="cancel()">Cancel</button>
    </div>
</div>
