<form class="reg-form" name="registrationForm">
    <h2 class="form-login-heading" style="text-align:center">{{appName}}</h2>
    <input name="userName" type="text" class="form-control" placeholder="Username" data-ng-model="User.Name" required autofocus>
    <div ng-messages="registrationForm.userName.$error">
        <div ng-message="required" ng-show="registrationForm.userName.$touched && registrationForm.userName.$invalid">This field is required</div>
    </div>
    <input name="password" type="password" class="form-control" placeholder="Password" data-ng-model="User.Password" required>
    <div ng-messages="registrationForm.password.$error">
        <div ng-message="required" ng-show="registrationForm.password.$touched && registrationForm.password.$invalid">This field is required</div>
    </div>
    <input name="confirmPassword" type="password" class="form-control" placeholder="Confirm Password" data-ng-model="User.ConfirmPassword" required compare-to="User.Password">
    <div ng-messages="registrationForm.confirmPassword.$error">
        <div ng-message="required" ng-show="registrationForm.confirmPassword.$touched && registrationForm.password.$invalid">This field is required</div>
        <div ng-message="passMustMatch" ng-show="User.Password !== User.ConfirmPassword">Password must match</div>
    </div>
    <div data-ng-hide="message === ''" data-ng-class="(savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
        {{message}}
    </div>
    <button class="btn btn-info center-block" data-ng-click="register()" >Register</button>
</form>