<div style=" max-width:500px; margin: 0 auto;">
    <h1 style="text-align:center; margin-right: 40px">All tasks</h1>
    <button>Add new task</button>
    <div style="text-align:center">
        <div>
            <h2 style="display:inline-block; margin-left: 60px;">Task</h2>
            <button class="ui-btn glyphicon glyphicon-edit" style="display:inline-block; float:right; font-size: 40px; background: transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;"></button>
            <button class="ui-btn ui-btn-inline glyphicon glyphicon-trash" style="float:right; font-size: 40px; background: transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;"></button>
            <p style="margin-top:20px; text-align:justify">Task description Task description Task description
                Task description Task description Task description Task description
                Task description Task description Task description</p>
            <time style="float:right" datetime="2010-09-23 20:30">2010-09-23 20:30</time>
        </div>
    </div>
</div>